.yii-title{background-color:#e29c04 !important}
.php-basic-title{background-color:#0b8d5d !important;}
.php-adv-title{background-color:#4db2ec !important;}
.post-img{width:300px;height:160px !important;}