@charset "utf-8";
@font-face{font-family: 'haanhdon';src: url('../fonts/UTMOngDo.ttf');font-weight: normal;font-style: normal;}
@font-face{font-family: 'hihi';src: url('../fonts/UTMFacebookRK&T.ttf');font-weight: normal;font-style: normal;}
*{margin:0px;padding:0px;}
body{font:12px Tahoma, Geneva, sans-serif;line-height:17px;}
a{text-decoration:none;color:#333;}
img{border:none;}
#main{width:980px;margin:0px auto;}
#toppage{width:100%;height:214px;background:url(../images/header.jpg) center top; background-size:100% 100%}
#header{width:960px;height:100%;margin:0px auto;}
#tophead{width:100%;height:20px;padding-top:7px}
#bothead{width:100%;height:184px;}
#botheadl{width:300px;height:100%;float:left;}
#botheadl img{border:none}
#botheadr{width:630px;height:150px;padding-left:30px;padding-top:17px;float:left;}
#botheadr h1{font-size:22px;color:#4BAC05;margin-bottom:15px;text-shadow:2px 2px 2px #FFF, 3px 3px 5px #063;}
#botheadr h2{font-size:18px;color:#F93;padding-left:10px;margin-bottom:15px}
#hotitle{width:500px;height:100%;float:right;overflow:hidden;}
#hotitle a{text-decoration:none;padding:0px 5px;text-align:center;border-right:1px solid #06C;}
#hotitle a:last-child{border:none}
#hotitle a:hover{color:#F30;text-decoration:underline}
#midpage{width:100%;height:auto;}
#botpage{width:100%;height:auto;}
#botplower{width:100%;height:120px;margin:0px auto;background:url(../images/flower.png) center top;}
#botfull{width:100%;height:133px;margin:0px auto;background:url(../images/footerbg.png) repeat-x;}
#menu{width:960px;margin:0px auto;height:50px;background:url(../images/menubg_03.png) no-repeat;padding:10px 10px 0px 20px;margin-bottom:0px;}
#menu ul{list-style-type:none}
#menu ul li ul {list-style:none;}
#menu ul li {height:40px;float:left;position:relative;border-right:1px solid #DDD}
#menu ul li a{font:13px Tahoma, Geneva, sans-serif;height:43px;line-height:43px;display:block;text-decoration:none;color:#060;font-weight:bold;padding:0px 19px;text-transform:uppercase;}
#menu ul li:hover {background:#67ac05;color:#FFF;z-index:1000;height:43px}
#menu ul li:hover a{color:#FFF}
#menu ul li:last-child{border:none}
#menu ul li a.active{font-weight:bold;color:#F00}
#menu ul li ul{width:190px;border:1px solid #67AC05;float:left;background:#FFF}
#menu ul li:hover ul li{width:190px;height:35px;margin:0px;padding:0px;border-bottom:1px solid #CCC;}
#menu li:hover ul li a{background:none;height:35px;font-size:11px;line-height:30px;text-align:left;padding-left:10px;color:#8b8b8b;text-transform:none}
#menu ul li:hover ul li{background:none;}
#menu ul li:hover ul a:hover{background:none;color:#67AC05;}
.dropdown{width:190px;position:absolute;left:0px;top:42px;display:none;}
#menu ul li:hover .dropdown{display:block;}
#user_info{margin:10px 0px 30px 0px;padding-right:30px}
#user_info ul{list-style-type:none; float: right}
#user_info ul li{float:left;border-right:1px solid #CCC;padding:0px 10px;height:15px}
#user_info ul li:last-child{border:none}
#user_info ul li a{color: #060}
#user_info ul li a:hover{text-decoration:underline}
.img_menu{float:left;position:absolute;margin:10px 5px 0px 15px;left: -3px;top: 0px;}
#img_menu{float:right;position:absolute;margin:10px 15px 0px 5px;left: 112px;top: 2px;}
#content{width:980px;float:left;background:#ffffff;}
#content_left{width:190px;float:left;position:relative;margin:0px 0px 20px 0px;}
#content_left_sup{width:190px;margin:0px 0px 10px 0px;}
#support_title{width:190px;height:35px;background:url(../images/support_title.jpg) no-repeat;}
#support_title h2{width:125px;height:30px;line-height:30px;padding-bottom:5px;color: #ffa100;padding:0px 0px 0px 30px;margin-left:13px;border-bottom: 1px solid #ffc25a;font-size:14px;text-transform:uppercase;background: url(../images/icon4.png) no-repeat 0px 50%;}
#support_content{width:160px;padding:10px 0px 0px 30px;height:60px;background:url(../images/support_mid.jpg) repeat-y;}
#support_content ul{list-style-type:none;}
#support_content ul li{font-size:11px;margin-bottom:10px;}
#support_content ul img{float:left;margin-right:10px;}
#support_content ul span{display:block;margin-bottom:3px;}
#support_bot{width:100%;height:25px; background:url(../images/support_bottom.jpg) no-repeat}
#content_left_menu{width:190px;height:auto;margin:0px 0px 10px 0px;}
#content_left_menu h2{width:155px;height:35px;line-height:35px;color:#ffa100;padding:10px 0px 0px 35px;border-bottom:1px solid #ffc25a;font-size:14px;background:url(../images/icon4.png) no-repeat 13px 65%;}
#left_menu_top{height:35px;background:url(../images/menu_left_top.jpg) no-repeat}
#left_menu_mid{padding-top:10px;background:url(../images/menu_left_mid.jpg) repeat-y}
#left_menu_bot{height:25px;background:url(../images/menu_left_bot.jpg) no-repeat}
#content_left_menu img{margin:11px 5px 0px 0px;}
#content_left_menu ul{list-style:none;}
#content_left_menu ul li{}
#content_left_menu ul li a{line-height:28px;width:145px;float:left;margin:0px 10px 0px 10px;display:block;color:#666;background:url(../images/more.png) 13px 50% no-repeat;padding-left:25px;border-bottom:1px dashed #ffa100;}
#content_left_menu ul li a:hover{color:#ff7200;background:url(../images/more1.png) 13px 50% no-repeat;}
.content_left_mid{width:190px;clear:left;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #CCC}
.studenth2{font-size:14px;color:#fb8701;margin-top:10px;padding-left:30px;margin-bottom:10px;text-transform:uppercase;background:url(../images/icon4.png) 12px 50% no-repeat;}
.content_left_mid .student_img{float:left;padding:2px;border:1px solid #DDD;margin:0px 5px 10px 0px;}
.content_left_mid ul{list-style-type:none;}
.content_left_mid ul li{color:#999;font-style:italic}
.content_left_mid h3{font-size:13px;color:#F60;}
.student_info{font-size:11px;color:#999}
#content_left_end{width:190px;height:102px;clear:left;}
#content_mid{width:550px;float:left;margin:0px 5px 2px 15px;}
#content_mid_top{width:100%;height:25px;padding-top:5px;border-bottom:1px solid #F90;color:#F90;}
#content_mid_top a{font-size:13px;color:#F90;text-transform:uppercase;text-decoration:none;font-weight:bold;margin:0px 5px}
#content_mid_bottom{padding:15px 0px 10px 5px;}
#content_mid_bottom a{color:#F00;font-size:12px}
#content_mid_bottom a:hover{text-decoration:underline}
#content_right{width:220px;float:left;}
#news{width:220px;margin-bottom:10px;}
.news_top{width:220px;height:25px;padding-top:5px;border-bottom:1px solid #F90;}
.news_top h2{font-size:13px;color:#F90;text-transform:uppercase}
.news_bot{width:210px;padding:15px 5px;}
.news_bot ul{list-style-type:none;}
.news_bot ul li a{display:block;width:170px;height:28px;line-height:28px;color:#00F;padding-left:25px;border-bottom:1px dashed #CCC;background:url(../images/arrow_left.png) no-repeat 5px 50%;}
.news_bot ul a:hover{color:#F30}
#posts{padding-left:10px;}
#post_top{width:220px;padding-top:5px;border-bottom:1px solid #F90;}
#post_top h2{font-size:13px;color:#F90;text-transform:uppercase}
#post_bot{width:210px;padding:15px 5px;}
#pagination{width:500px;margin:10px auto 0px auto;padding:20px;text-align:center;}
#pagination a{padding:3px 12px;text-decoration:none;border:1px solid #DDD;color:#0033CC;font:12px tahoma;border-radius:3px}
#pagination a:hover{color:#F00;}
#pagination span.curpage{padding:3px 12px;border:1px solid #DDD;background:#CCC;color:#F00;font-weight:bold;margin-left:3px;;border-radius:3px}
.cls{clear:left;}
.h2_post{font-size:14px;color:#666}
.cate_title{padding-bottom:20px;}
.cate_title h1{font-size:17px;color:#333}
.content_left_end_ok{width:190px;height:45px;float:left;margin:5px 0px 0px 0px;border-bottom:1px dashed #999;}
.content_left_end_ok img{margin-right:10px;}
.content_left_end_ok p{color:#999;}
.content_left_end_ok a{color:#fb8701;}
.posts_items{width:210px;padding:5px 0px;margin-bottom:4px;border-bottom:1px solid #DDD;}
.posts_items:last-child{border-bottom:none}
.posts_items img{width:80px;height:55px;padding:1px;border:1px solid #CCC;float:left;margin-right:3px;}
.posts_items h3{font-size:12px;font-weight:normal}
.posts_items a:hover{text-decoration:underline}
.posts_list{width:545px;padding:0px 0px 10px 0px;border-bottom:1px solid #CCC;margin-bottom:17px;}
.posts_list img.post{width:100px;height:70px;padding:2px;border:1px solid #CCC;float:left;margin-right:15px;}
.posts_list a.posta{text-decoration:none;color:#F90;font-size:13px;}
.posts_list a.posta:hover{text-decoration:underline}
.posts_list p.postp{padding:5px;}
.news_items{padding-top:10px;margin-bottom:7px;}
.news_items img{width:140px;height:85px;padding:2px;border:1px solid #CCC;float:left;margin-right:10px;}
.contact h3{color:#00F;font-size:16px;margin:5px 0px;}
.contact h4{color:#00F;font-size:13px;margin:3px 0px;}
.contact h4 a{text-decoration:none;}
.contact fieldset{width:400px;border:1px solid #CCC;height:300px;}
.contact legend{color:#F30;padding:0px 5px}
.contact form{width:470px;margin:30px 0px 0px 60px;}
.form_items{float:left;margin-bottom:7px;clear:left}
.form_items_left{width:130px;height:auto;float:left;}
.form_items_right{width:290px;height:auto;float:left;}
.form_items_right input[type=text],.form_items_right input[type=password]{
    height:19px
}
.red{color:#F00;}
.subbs{padding:2px 4px;margin:5px 0px 0px 10px;}
.edit-icon{padding-left: 20px;background: url('../images/edit-icon.png') no-repeat}
.file-attack{float: right;padding-left: 20px; background: url('../images/attack-icon.png') no-repeat}
.post_items{padding:10px 0px;}
.post_img{width:100px;float:left;margin:0px 10px 10px 0px;padding:2px;border:1px solid #DDD;}
.post_h3 a{font-size:12px;color:#1D4BE0 !important;}
.post_h3 a:hover{text-decoration:underline}
.post_line{clear:left;border-bottom:1px solid #DDD;padding:3px 0px}
.img_detail{width:130px;padding:2px;border:1px solid #CCC;margin:0px 20px 10px 0px;float:left;}
.info_post{padding:5px;}
.full_post{padding:10px 0px;}
.full_post pre{padding:6px;border: 1px solid #999;background:#f2f2f2;}
.full_post ul,ol{padding-left:20px;}
table.tblpost{border-bottom:1px solid #CCC;border-right:1px solid #CCC;}
table.tblpost td{border:1px solid #CCC;border-bottom:none;border-right:none;padding:2px 4px;}
#footer{width:980px;height:70px;clear:left;background:url(../images/bg_footer.jpg) no-repeat;}
#footer_left{width:190px;line-height:70px;font-size:18px;background:right url(../images/border.png) no-repeat;float:left;padding-top:5px}
#footer_left a{color:#666;font-size:25px}
#footer_right{width:750px;padding:20px;float:left;color:#999;}
#footer_right a{color:#666;}
.top_news{color:#fff;background:url(../images/bg_menu_content.png) no-repeat;}
.top_event{background:url(../images/bg_menu_content_1.png) no-repeat;}
.list{color:#666;}
.list a{font-size:12px;color:#676767}
.hehe{padding:5px 0px;color:#000;font-size:13px;}
.haha:hover{color:#fb8701;}
ul.list_posts{padding:10px 0px 10px 30px;list-style-type:circle;}
ul.list_posts li a{display:block;margin-bottom:4px;font:12px Tahoma, Geneva, sans-serif}
ul.list_posts li a:hover{color:#F30}
.cls{clear:left;}
.footer_top ul{list-style-type:none}
.footer_top ul li a{float:left;text-align:center;padding:0px 20px;border-right:1px solid #CCC;}
.footer_top ul li a:hover{text-decoration:underline}
.footer_bot{padding:7px 0px 0px 20px}
.footer_bot_l{width:520px;float:left;}
.footer_bot_r{width:200px;float:left;padding-top:10px;text-align:right}
.codeborder{padding:7px 10px;border:1px dotted #999;color:#F00;font-size:12px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.borderorth{padding:7px 10px;border:1px dotted #999;color:#03F;font-size:12px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.colorphp{color:#F00}
.codespan{color:#333;font-size:11px}
.full_post img{max-width:540px;}
.news_author a{padding:0px 4px}
.customer_title{padding:10px 0px;margin-bottom:10px}
.customer_items{width:100%;height:auto;padding:10px 0px 20px 0px;background:url(../images/article_separator.png) no-repeat center bottom;}
.customer_items_title{padding:15px;}
.customer_items_title h5{font-size:13px;color:#333;}
.customer_items_left{width:120px;height:auto;float:left;}
.customer_items_left img{border:1px solid #DDD;padding:2px}
.customer_items_right{width:420px;min-height:170px;float:left;padding-left:0px;position:relative;}
.customer_items_right_items{min-width:275px;min-height:20px;padding:5px 0px;position:absolute;right:10px;bottom:0px;}
.customer_items_right_items h3{font-size:12px;color:#666;font-weight:normal}
.customer_items_cate{width:250px;height:30px;float:left;margin:10px 0px 0px 10px;}
.customer_items_cate img{border:none;float:left;margin:3px 5px 0px 0px;}
.customer_items_cate a{color:#00F;display:block;float:left;padding-top:5px;text-decoration:none;}
.customer_items_cate a:hover,
.customer_items_cate a.active{color:#FF3300;text-decoration:underline}
.h1_title{margin-bottom:20px;}
.h1_title h1{font-size:18px;line-height:none;}
.related_title{margin-bottom:10px;border-bottom:1px solid #F60;padding-bottom:5px}
.related_title h2{color:#F90;text-transform:uppercase;font-size:14px}
.opacity img{opacity:0.5;filter:alpha(opacity=50);}
#study{margin-bottom:10px}
#study_top{width:190px;height:30px;}
#study_top h2{width:180px;padding-top:4px;padding-left:10px;color:#ffa100;font-size:14px;text-transform:uppercase;}
#study_content{width:185px;padding-bottom:10px;padding-left:5px;}
#study_bot{width:100%;height:25px;}
ul#topmn{list-style-type:none;margin:0px;padding:0px;}
ul#topmn li{width:180px;background:url(../images/border_menu_left.png) repeat-x left bottom;}
ul#topmn a{display:block;padding:7px 0px 7px 25px;text-decoration:none;background:url(../images/arrow_left.png) no-repeat 5px 50%;color:#333;font:13px hihi}
ul#topmn a:hover,
ul#topmn a.active{color:#F60;background:url(../images/arrow_left_hover.png) no-repeat 5px 50%;}

.question{width:545px;margin-bottom:15px;border-bottom:1px dashed #CCC;padding-bottom:10px}
.customer_content .question:last-child{border-bottom:none}
.ques_avatar{width:70px;float:left;margin-right:15px}
.ques_avatar h3{font-weight:normal;font-size:13px;color:#F93}
.ques_info{width:440px;float:left;padding-right:20px}
.ques_info h3 a{color:#060 !important;font-weight:600}
.ques_info i{font-size:11px; color: #666}
.ques_info p{color:#666}
.user_avatar{width:60px;height:auto}
.send-ques{margin:30px 0px 0px 0px;text-align:right;border-top:1px solid #CCC;padding-top:10px;padding-right:10px}
.question_title{font-size: 15px; color: #666; margin-bottom: 10px;}
.question_info{padding-top:25px}
.anwser-avatar{width: 70px; float: left; margin-right: 15px; text-align: center}
.anwser-info{width: 460px; float: left; word-wrap: break-word;padding-bottom:30px}
.anwser-info img{max-width: 460px}
.anwser{margin-bottom: 7px; border-bottom: 1px dashed #CCC}
.reply{float:right;font-size:11px !important;color:#060 !important}

.top-awn{margin-top:10px}
.top-awn h3{color: #666; font-size: 15px}
.anwser{padding:7px 0px;position:relative}
.anwser-user{font-weight:normal;font-size:13px;color: #F93;text-align: center}
.reply-date{position:absolute;right:10px;bottom:3px;font-size:11px; margin-top: 20px}
.form-asn{margin-top: 50px;}
.top-awn .anwser:last-child{border-bottom:none}
.reply-form textarea,.reply-form input{float:left; height: 47px}
.reply-form textarea{width: 371px; padding: 3px 5px;}
.reply-form input{margin-left: 5px}
.send-mess{width: 70px; height: 49px !important}
.admin-del{color:#F00;float: right; font-size:11px !important}
.reply-vote{position:absolute;bottom:3px}
.reply-vote span{float:left;margin-right:7px;color:#333 !important;padding-left:20px;text-decoration:none;cursor:pointer}
.vote-up{display:block;background:url(../images/sprite.png) no-repeat -272px -220px;}
.vote-down{display:block;background:url(../images/sprite.png) no-repeat -272px -246px;}
.vote-up-active{display:block;background:url(../images/sprite.png) no-repeat -245px -65px;}
.vote-down-active{display:block;background:url(../images/sprite.png) no-repeat -245px -185px;}
.reply-show{padding-left:20px;}
.error-icon{background:url(../images/sign_error.png) no-repeat}
.help-icon{height:20px;display:block;font-size:13px !important;color:#F00 !important;float:right;padding-left:25px;background:url(../images/help.png) no-repeat }
.post_title h2{font-size:17px;color:#F90;padding-left:10px}
/*.detail-ask{border:1px solid #CCC;border-radius:5px;padding:20px}*/

ul.relative li{margin-bottom: 15px;}
ul.relative li a{line-height: normal; color: #333; height: auto; border-bottom: none}