#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:998;
}
#popupContact{
	display:none;
	position:fixed; /* hack for internet explorer 6*/
	text-align:center;
	vertical-align:middle;
	z-index:999;
	padding:7px;
	font-size:13px;
}
#popupContact div{ position:relative;}
#popupContact div a{  position: absolute; right: -10px; top: -13px;}
#popupContact h1{
	text-align:left;
	color:#096;
	font-size:18px;
	font-weight:700;
	border-bottom:1px dotted #CCC;
	padding-bottom:2px;
	margin-bottom:20px;
}
#popupContactClose{
	font-size:12px;
	line-height:16px;
	right:6px;
	top:4px;
	color:#ffffff;
	font-weight:700;
}
#button{
	text-align:center;
	margin:100px;
}